{% extends "base.html" %}

{% block content %}

<div class="text-center mb-5">
    <h1>Witaj w mojej bibliotece filmów</h1>
    <p class="lead">Znajdziesz tutaj tylko najlepsze tytuły!</p>
</div>

<div class="mb-4 text-center">
    {% for key, value in movie_lists.items() %}
        <a href="/?list={{ key }}"
           class="btn {% if key == selected_list %}btn-primary{% else %}btn-outline-primary{% endif %} me-2">
            {{ value }}
        </a>
    {% endfor %}
</div>

<div class="row">
    {% for movie in movies %}
    <div class="col-md-3 mb-4">
        <div class="card h-100 shadow-sm">
            <img src="{{ tmdb_image_url(movie.poster_path) }}" 
                 class="card-img-top"
                 style="height: 400px; object-fit: cover;">

            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ movie.title }}</h5>

                <a href="/movie/{{ movie.id }}" class="btn btn-primary mt-auto">
                    Pokaż więcej
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}